<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642931615097-bmdr8000q6a64n0mbtt4q7o4rti2v02k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642931615097-bmdr8000q6a64n0mbtt4q7o4rti2v02k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>642931615097-564fth0b2rnnna49e8bf9sndcdov4j30.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7yTuk1zBjNdqmmII2Mw5h_bEjafg2dPw</string>
	<key>GCM_SENDER_ID</key>
	<string>642931615097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.zenithdevgroup.carspace</string>
	<key>PROJECT_ID</key>
	<string>carspace-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>carspace-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642931615097:ios:bdd56c0702722ad7807ba8</string>
	<key>DATABASE_URL</key>
	<string>https://carspace-alpha.firebaseio.com</string>
</dict>
</plist>